Repository TechsCode/PluginResources, pull requests merged in 2019-08, with the labels that each got.

#10 Update UltraPermissions_Italian.lang
  Translations/UltraPermissions_Italian.lang
Labels: enhancement

#6 Update UltraPunishments_Italian.lang
  Translations/UltraPunishments_Italian.lang
Labels: enhancement

#9 Add German UltraPunishment translation
  Translations/UltraPunishments_German.lang
Labels: enhancement

#11 Update Base_German.lang
  Translations/Base_German.lang
Labels: translation

#16 Create Base_Dutch
  Translations/Base_Dutch.lang
Labels: translation

#24 JEssentials Permissions
  Permissions Database/Database.updb
Labels: Permissions

#28 Fixed "Haga" being "Has"
  Translations/Base_Spanish.lang
Labels: translations

#29 Fixed "Usuario" being "Usario"
  Translations/UltraPermissions_Spanish.lang
Labels: translations

#30 Update ProtocolVanish
  Permissions Database/Database.updb
Labels: permissions
