Repository TechsCode/PluginResources, pull requests merged in 2020-02, with the labels that each got.

#67 Added OpenAudioMc
  Permissions Database/Database.updb
Labels: permissions

#68 Improved dutch by xDizziex
  Translations/Base_Dutch.lang
  Translations/UltraPermissions_Dutch.lang
Labels: translations

#69 Database overhaul
  Permissions Database/Database.updb
Labels: fix, permissions
